<div id="left">
  <h2>{{leftContent.2.text}}</h2>
</div>
<div id="main">
  <p><b>id: </b>{{myFile.id}}</p>
  <p><b>name: </b>{{myFile.name}}</p>
  <p><b>path: </b>{{myFile.path}}</p>
  <p><b>size: </b>{{myFile.size}}</p>
  <p><b>type: </b>{{myFile.type}}</p>
  <p><b>savedate: </b>{{myFile.savedate}}</p>
</div>